<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Template</title>
</head>

<body>
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td colspan="2"
                style="padding: 10px; background: #202020; color: #FAFAFA; font-size: 18px; font-family: Arial; font-weight: 700;">
                Payment Details</td>
        </tr>
        <tr>
            <td
                style="padding: 10px; background: white; color: #475467; font-size: 16px; font-family: Arial; font-weight: 700;">
                Total Payment Count</td>
            <td
                style="padding: 10px; background: white; color: #10212E; font-size: 16px; font-family: Arial; font-weight: 400;">
                <%= count %>
            </td>
        </tr>
        <tr>
            <td
                style="padding: 10px; background: white; color: #475467; font-size: 16px; font-family: Arial; font-weight: 700;">
                Total Payment Amount</td>
            <td
                style="padding: 10px; background: white; color: #10212E; font-size: 16px; font-family: Arial; font-weight: 400;">
                <%= totalPaymentAmount %>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="padding: 10px; background: #202020; color: #FAFAFA; font-size: 18px; font-family: Arial; font-weight: 700;">
                Total Request</td>
        </tr>
        <tr>
            <td
                style="padding: 10px; background: white; color: #475467; font-size: 16px; font-family: Arial; font-weight: 700;">
                Total Request Count</td>
            <td
                style="padding: 10px; background: white; color: #10212E; font-size: 16px; font-family: Arial; font-weight: 400;">
                <%= count %>
            </td>
        </tr>
        <tr>
            <td
                style="padding: 10px; background: white; color: #475467; font-size: 16px; font-family: Arial; font-weight: 700;">
                Total Request Amount</td>
            <td
                style="padding: 10px; background: white; color: #10212E; font-size: 16px; font-family: Arial; font-weight: 400;">
                <%= totalRequestAmount %>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="padding: 10px; background: #202020; color: #FAFAFA; font-size: 18px; font-family: Arial; font-weight: 700;">
                Total Disbursed</td>
        </tr>
        <tr>
            <td
                style="padding: 10px; background: white; color: #475467; font-size: 16px; font-family: Arial; font-weight: 700;">
                Total Disbursed Count</td>
            <td
                style="padding: 10px; background: white; color: #10212E; font-size: 16px; font-family: Arial; font-weight: 400;">
                02</td>
        </tr>
        <tr>
            <td
                style="padding: 10px; background: white; color: #475467; font-size: 16px; font-family: Arial; font-weight: 700;">
                Total Disbursed Amount</td>
            <td
                style="padding: 10px; background: white; color: #16B364; font-size: 16px; font-family: Arial; font-weight: 400;">
                <%= totaldisbursedAmount %>
            </td>
        </tr>
        <tr>
            <!-- Add more sections and their respective rows and cells as needed -->
        </tr>
    </table>
</body>

</html>